<!DOCTYPE html>
<html>
<head>
  <title>Harbinger</title>
  <%= stylesheet_link_tag    "harbinger/application", media: "all" %>
  <%= javascript_include_tag "harbinger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
